body {
  background-color: rgb(231, 229, 226);
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 400px;
  margin: 150px auto;
  background-color: rgb(149, 149, 240);
}

.button {
  display: block;
  background-color: #bbb;
}

.result {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border-radius: 10%;
}

button:hover {
  color: rgb(134, 117, 230);
  cursor: pointer;
}

